In [1]:
from rc import *

In [2]:
def medrettet(set): return (lambda s: set.filter(lambda x: x.dir() == s.dir()))
def motrettet(set): return (lambda s: set.filter(lambda x: x.dir() == s.dir().opposite()))

In [3]:
m = Model(filename="UOS-10-S-82801-RC3.railml")

In [8]:
detectors = m.objects.filter(type="trainDetector")
ends = m.objects.filter(lambda x: x.contains("bufferStop"), type="trackNode")
sections = AreaSet.from_delimiters(detectors | ends)

In [9]:
hs = m.objects.filter(type="signal").filter(lambda x: x.type == "combined" or x.type == "main")
ds = m.objects.filter(type="signal").filter(lambda x: x.type == "combined" or x.type == "shunting")

In [10]:
togveier = hs.find_forward(medrettet(hs))
display(tbl(togveier))

,dir,start,links,end
0,Dir.UP,Point object name='Hs.220' id=sig_6,"[(sw_1, Side.LEFT), (sw_3, Side.LEFT), (sw_5, ...",Point object name='Hs.275' id=sig_52
1,Dir.UP,Point object name='Hs.220' id=sig_6,"[(sw_1, Side.LEFT), (sw_3, Side.LEFT), (sw_5, ...",Point object name='Hs.969' id=sig_72
2,Dir.UP,Point object name='Hs.220' id=sig_6,"[(sw_1, Side.LEFT), (sw_3, Side.LEFT), (sw_5, ...",Point object name='Hs.971' id=sig_21
3,Dir.UP,Point object name='Hs.971' id=sig_21,"[(sw_6, Side.LEFT), (sw_9, Side.RIGHT), (sw_8,...",Point object name='Hs.Blokk1' id=sig_22
4,Dir.UP,Point object name='Hs.222' id=sig_18,"[(sw_4, Side.LEFT), (sw_27, Side.LEFT), (sw_29...",Point object name='Hs.271' id=sig_45
5,Dir.UP,Point object name='Hs.222' id=sig_18,"[(sw_4, Side.LEFT), (sw_27, Side.LEFT), (sw_29...",Point object name='Hs.269' id=sig_36
6,Dir.UP,Point object name='Hs.222' id=sig_18,"[(sw_4, Side.LEFT), (sw_27, Side.LEFT), (sw_29...",Point object name='Hs.275' id=sig_52
7,Dir.UP,Point object name='Hs.222' id=sig_18,"[(sw_4, Side.LEFT), (sw_27, Side.LEFT), (sw_29...",Point object name='Hs.969' id=sig_72
8,Dir.UP,Point object name='Hs.222' id=sig_18,"[(sw_4, Side.RIGHT), (sw_3, Side.RIGHT), (sw_5...",Point object name='Hs.275' id=sig_52
9,Dir.UP,Point object name='Hs.222' id=sig_18,"[(sw_4, Side.RIGHT), (sw_3, Side.RIGHT), (sw_5...",Point object name='Hs.969' id=sig_72
10,Dir.UP,Point object name='Hs.222' id=sig_18,"[(sw_4, Side.RIGHT), (sw_3, Side.RIGHT), (sw_5...",Point object name='Hs.971' id=sig_21
11,Dir.UP,Point object name='Hs.Blokk1' id=sig_22,[],Point object name='Hs.Blokk2' id=sig_23
12,Dir.UP,Point object name='Hs.969' id=sig_72,"[(sw_6, Side.RIGHT), (sw_9, Side.RIGHT), (sw_8...",Point object name='Hs.Blokk1' id=sig_22
13,Dir.UP,Point object name='Hs.Blokk2' id=sig_23,[],Point object name='Hs.Blokk3' id=sig_24

In [7]:
skifteveier = ds.find_forward(medrettet(ds))
display(tbl(skifteveier))

,dir,start,links,end
0,Dir.DOWN,Point object name='Ds.952' id=sig_59,"[(sw_9, Side.LEFT)]",Point object name='Ds.622' id=sig_11
1,Dir.DOWN,Point object name='Ds.670' id=sig_2,"[(sw_1, Side.RIGHT)]",Point object name='Hs.265' id=sig_5
2,Dir.UP,Point object name='Ds.621' id=sig_10,"[(sw_9, Side.RIGHT), (sw_8, Side.LEFT)]",Point object name='Hs.Blokk1' id=sig_22
3,Dir.DOWN,Point object name='Ds.622' id=sig_11,"[(sw_6, Side.RIGHT)]",Point object name='Tgv.slutt/Ds.630' id=sig_64
4,Dir.DOWN,Point object name='Ds.622' id=sig_11,"[(sw_6, Side.LEFT)]",Point object name='Tgv.slutt/Ds.628' id=sig_12
5,Dir.UP,Point object name='Ds.669' id=sig_65,"[(sw_31, Side.LEFT), (sw_23, Side.LEFT)]",Point object name='Hs.275' id=sig_52
6,Dir.UP,Point object name='Ds.669' id=sig_65,"[(sw_31, Side.RIGHT)]",Point object name='Hs.969' id=sig_72
7,Dir.UP,Point object name='Ds.645' id=sig_46,"[(sw_20, Side.LEFT), (sw_17, Side.RIGHT)]",Point object name='Ds.665' id=sig_40
8,Dir.DOWN,Point object name='Ds.950' id=sig_33,"[(sw_14, Side.LEFT), (sw_22, Side.RIGHT)]",Point object name='Tgv.slutt/Ds.636' id=sig_51
9,Dir.DOWN,Point object name='Ds.950' id=sig_33,"[(sw_13, Side.RIGHT), (sw_14, Side.RIGHT), (sw...",Point object name='Tgv.slutt/Ds.638' id=sig_44
10,Dir.DOWN,Point object name='Ds.950' id=sig_33,"[(sw_13, Side.RIGHT), (sw_14, Side.RIGHT), (sw...",Point object name='Tgv.slutt/Ds.640' id=sig_35
11,Dir.DOWN,Point object name='Tgv.slutt/Ds.630' id=sig_64,"[(sw_31, Side.RIGHT), (sw_30, Side.LEFT), (sw_...",Point object name='Ds.644' id=sig_15
12,Dir.DOWN,Point object name='Tgv.slutt/Ds.630' id=sig_64,"[(sw_31, Side.RIGHT), (sw_30, Side.RIGHT), (sw...",Point object name='Ds.646' id=sig_69
13,Dir.DOWN,Point object name='Ds.626' id=sig_0,"[(sw_0, Side.LEFT), (sw_2, Side.RIGHT), (sw_5,...",Point object name='Ds.644' id=sig_15
14,Dir.DOWN,Point object name='Ds.626' id=sig_0,"[(sw_0, Side.LEFT), (sw_2, Side.LEFT)]",Point object name='Ds.670' id=sig_2
15,Dir.UP,Point object name='Hs.Blokk1' id=sig_22,[],Point object name='Hs.Blokk2' id=sig_23
16,Dir.UP,Point object name='Hs.969' id=sig_72,"[(sw_6, Side.RIGHT)]",Point object name='Ds.621' id=sig_10
17,Dir.UP,Point object name='Hs.Blokk2' id=sig_23,[],Point object name='Hs.Blokk3' id=sig_24
18,Dir.DOWN,Point object name='Ds.616' id=sig_60,"[(sw_25, Side.RIGHT), (sw_10, Side.RIGHT), (sw...",Point object name='Ds.622' id=sig_11
19,Dir.UP,Point object name='Hs.Blokk3' id=sig_24,[],Point object name='Ds.695' id=sig_9
20,Dir.UP,Point object name='Ds.695' id=sig_9,"[(sw_10, Side.RIGHT), (sw_25, Side.RIGHT)]",Point object name='Ds.615' id=sig_61
21,Dir.UP,Point object name='Hs.222' id=sig_18,[],Point object name='Ds.655' id=sig_13
22,Dir.UP,Point object name='Ds.643' id=sig_48,"[(sw_20, Side.RIGHT), (sw_17, Side.RIGHT)]",Point object name='Ds.665' id=sig_40
23,Dir.DOWN,Point object name='Ds.634' id=sig_53,"[(sw_24, Side.LEFT), (sw_23, Side.RIGHT), (sw_...",Point object name='Ds.644' id=sig_15
24,Dir.DOWN,Point object name='Ds.634' id=sig_53,"[(sw_24, Side.LEFT), (sw_23, Side.RIGHT), (sw_...",Point object name='Ds.646' id=sig_69
25,Dir.DOWN,Point object name='Ds.620' id=sig_8,"[(sw_10, Side.LEFT), (sw_8, Side.LEFT), (sw_9,...",Point object name='Ds.622' id=sig_11
26,Dir.UP,Point object name='Ds.667' id=sig_37,[],Point object name='Ds.647' id=sig_38
27,Dir.UP,Point object name='Ds.655' id=sig_13,"[(sw_4, Side.LEFT), (sw_27, Side.LEFT)]",Point object name='Ds.659' id=sig_68
28,Dir.UP,Point object name='Ds.655' id=sig_13,"[(sw_4, Side.RIGHT), (sw_3, Side.RIGHT)]",Point object name='Ds.661' id=sig_14
29,Dir.UP,Point object name='Ds.647' id=sig_38,"[(sw_17, Side.LEFT)]",Point object name='Ds.665' id=sig_40
...,...,...,...,...
32,Dir.DOWN,Point object name='Ds.632' id=sig_54,"[(sw_24, Side.RIGHT), (sw_23, Side.RIGHT), (sw...",Point object name='Ds.644' id=sig_15
33,Dir.DOWN,Point object name='Ds.632' id=sig_54,"[(sw_24, Side.RIGHT), (sw_23, Side.RIGHT), (sw...",Point object name='Ds.646' id=sig_69
34,Dir.DOWN,Point object name='Ds.624' id=sig_25,"[(sw_0, Side.RIGHT), (sw_2, Side.RIGHT), (sw_5...",Point object name='Ds.644' id=sig_15
35,Dir.DOWN,Point object name='Ds.624' id=sig_25,"[(sw_0, Side.RIGHT), (sw_2, Side.LEFT)]",Point object name='Ds.670' id=sig_2
36,Dir.DOWN,Point object name='Ds.648' id=sig_39,"[(sw_17, Side.LEFT)]",Point object name='Ds.705' id=sig_43
37,Dir.UP,Point object name='Ds.661' id=sig_14,"[(sw_5, Side.LEFT), (sw_7, Side.LEFT), (sw_30,...",Point object name='Ds.669' id=sig_65
38,Dir.UP,Point object name='Ds.661' id=sig_14,"[(sw_5, Side.LEFT), (sw_7, Side.RIGHT)]",Point object name='Hs.971' id=sig_21
39,Dir.UP,Point object name='Ds.665' id=sig_40,"[(sw_18, Side.LEFT), (sw_15, Side.RIGHT)]",Point object name='Hs.269' id=sig_36
40,Dir.UP,Point object name='Ds.665' id=sig_40,"[(sw_18, Side.RIGHT), (sw_19, Side.RIGHT)]",Point object name='Hs.271' id=sig_45
41,Dir.DOWN,Point object name='Ds.644' id=sig_15,"[(sw_3, Side.LEFT), (sw_1, Side.LEFT)]",Point object name='Hs.265' id=sig_5
42,Dir.DOWN,Point object name='Ds.644' id=sig_15,"[(sw_4, Side.RIGHT), (sw_3, Side.RIGHT)]",Point object name='Hs.263' id=sig_17
43,Dir.DOWN,Point object name='Tgv.slutt/Ds.636' id=sig_51,"[(sw_23, Side.LEFT), (sw_31, Side.LEFT), (sw_3...",Point object name='Ds.644' id=sig_15
44,Dir.DOWN,Point object name='Tgv.slutt/Ds.636' id=sig_51,"[(sw_23, Side.LEFT), (sw_31, Side.LEFT), (sw_3...",Point object name='Ds.646' id=sig_69
45,Dir.DOWN,Point object name='Ds.650' id=sig_66,"[(sw_28, Side.RIGHT)]",Point object name='Ds.31' id=sig_32
46,Dir.UP,Point object name='Ds.693' id=sig_57,"[(sw_8, Side.RIGHT)]",Point object name='Hs.Blokk1' id=sig_22
47,Dir.UP,Point object name='Ds.653' id=sig_67,"[(sw_27, Side.RIGHT)]",Point object name='Ds.659' id=sig_68
48,Dir.DOWN,Point object name='Tgv.slutt/Ds.638' id=sig_44,"[(sw_19, Side.LEFT), (sw_16, Side.RIGHT), (sw_...",Point object name='Ds.646' id=sig_69
49,Dir.DOWN,Point object name='Tgv.slutt/Ds.638' id=sig_44,"[(sw_18, Side.RIGHT), (sw_19, Side.RIGHT)]",Point object name='Ds.648' id=sig_39
50,Dir.DOWN,Point object name='Ds.646' id=sig_69,"[(sw_27, Side.LEFT), (sw_4, Side.LEFT)]",Point object name='Hs.263' id=sig_17
51,Dir.DOWN,Point object name='Ds.646' id=sig_69,"[(sw_27, Side.RIGHT)]",Point object name='Ds.650' id=sig_66
52,Dir.DOWN,Point object name='Tgv.slutt/Ds.628' id=sig_12,"[(sw_7, Side.RIGHT), (sw_5, Side.LEFT)]",Point object name='Ds.644' id=sig_15
53,Dir.DOWN,Point object name='Tgv.slutt/Ds.640' id=sig_35,"[(sw_15, Side.RIGHT), (sw_18, Side.LEFT)]",Point object name='Ds.648' id=sig_39
54,Dir.DOWN,Point object name='Tgv.slutt/Ds.640' id=sig_35,"[(sw_16, Side.LEFT), (sw_15, Side.LEFT), (sw_2...",Point object name='Ds.646' id=sig_69
55,Dir.UP,Point object name='Hs.220' id=sig_6,[],Point object name='Ds.657' id=sig_1
56,Dir.UP,Point object name='Ds.659' id=sig_68,"[(sw_29, Side.LEFT), (sw_16, Side.RIGHT), (sw_...",Point object name='Hs.271' id=sig_45
57,Dir.UP,Point object name='Ds.659' id=sig_68,"[(sw_29, Side.LEFT), (sw_16, Side.LEFT), (sw_1...",Point object name='Hs.269' id=sig_36
58,Dir.UP,Point object name='Ds.659' id=sig_68,"[(sw_29, Side.RIGHT), (sw_30, Side.RIGHT)]",Point object name='Ds.669' id=sig_65
59,Dir.UP,Point object name='Ds.657' id=sig_1,"[(sw_1, Side.LEFT), (sw_3, Side.LEFT)]",Point object name='Ds.661' id=sig_14
60,Dir.UP,Point object name='Ds.657' id=sig_1,"[(sw_1, Side.RIGHT)]",Point object name='Ds.663' id=sig_3
61,Dir.UP,Point object name='Hs.971' id=sig_21,"[(sw_6, Side.LEFT)]",Point object name='Ds.621' id=sig_10

### Sporavsnitt som må være fritt
Alle sporavsnitt som overlapper togveien må være fri før togveien kan stilles.

In [12]:
for togvei in togveier:
    togvei.avsnitt = sections.filter(lambda section: section & togvei.to_area() > empty)
    print("Avsnitt: {}".format(togvei.avsnitt))

Avsnitt: Set of 0 areas.
Avsnitt: Set of 0 areas.
Avsnitt: Set of 0 areas.
Avsnitt: Set of 0 areas.
Avsnitt: Set of 0 areas.
Avsnitt: Set of 0 areas.
Avsnitt: Set of 0 areas.
Avsnitt: Set of 0 areas.
Avsnitt: Set of 0 areas.
Avsnitt: Set of 0 areas.
Avsnitt: Set of 0 areas.
Avsnitt: Set of 0 areas.
Avsnitt: Set of 0 areas.
Avsnitt: Set of 0 areas.

### Ds. i togveien som viser Ss45
Alle medrettede dvergsignaler i togveien skal vise Ss45.

In [14]:
for togvei in togveier:
    ds_ss45 = ds.filter(location=togvei.to_area(), dir=togvei.dir)
    print("DS {}".format(ds_ss45))

DS Set of 53 point objects.
DS Set of 53 point objects.
DS Set of 53 point objects.
DS Set of 53 point objects.
DS Set of 53 point objects.
DS Set of 53 point objects.
DS Set of 53 point objects.
DS Set of 53 point objects.
DS Set of 53 point objects.
DS Set of 53 point objects.
DS Set of 53 point objects.
DS Set of 53 point objects.
DS Set of 53 point objects.
DS Set of 53 point objects.

### Intervalloperasjoner

In [23]:
list(list(sections)[0].intervals & list(sections)[0].intervals)

[]