In [1]:
from rc import *

In [2]:
def medrettet(set): return (lambda s: set.filter(lambda x: x.dir() == s.dir()))
def motrettet(set): return (lambda s: set.filter(lambda x: x.dir() == s.dir().opposite()))

In [3]:
m = Model(filename="UOS-10-S-82801-RC3.railml")

In [4]:
detectors = m.objects.filter(type="trainDetector")
ends = m.objects.filter(lambda x: x.contains("bufferStop"), type="trackNode")
sections = AreaSet.from_delimiters(detectors | ends)

In [5]:
hs = m.objects.filter(type="signal").filter(lambda x: x.type == "combined" or x.type == "main")
ds = m.objects.filter(type="signal").filter(lambda x: x.type == "combined" or x.type == "shunting")

In [6]:
togveier = hs.find_forward(medrettet(hs))
display(tbl(list(togveier)))

,dir,start,links,end
0,Dir.UP,Point object name='Hs.222' id=sig_18,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Hs.969' id=sig_72
1,Dir.UP,Point object name='Hs.222' id=sig_18,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Hs.275' id=sig_52
2,Dir.UP,Point object name='Hs.220' id=sig_6,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Hs.971' id=sig_21
3,Dir.UP,Point object name='Hs.222' id=sig_18,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Hs.971' id=sig_21
4,Dir.UP,Point object name='Hs.220' id=sig_6,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Hs.969' id=sig_72
5,Dir.UP,Point object name='Hs.222' id=sig_18,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Hs.269' id=sig_36
6,Dir.UP,Point object name='Hs.222' id=sig_18,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Hs.275' id=sig_52
7,Dir.UP,Point object name='Hs.222' id=sig_18,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Hs.271' id=sig_45
8,Dir.UP,Point object name='Hs.220' id=sig_6,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Hs.275' id=sig_52
9,Dir.UP,Point object name='Hs.222' id=sig_18,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Hs.969' id=sig_72
10,Dir.UP,Point object name='Hs.969' id=sig_72,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Hs.Blokk1' id=sig_22
11,Dir.UP,Point object name='Hs.971' id=sig_21,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Hs.Blokk1' id=sig_22
12,Dir.UP,Point object name='Hs.Blokk2' id=sig_23,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Hs.Blokk3' id=sig_24
13,Dir.UP,Point object name='Hs.Blokk1' id=sig_22,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Hs.Blokk2' id=sig_23

In [7]:
skifteveier = ds.find_forward(medrettet(ds))
display(tbl(list(skifteveier)))

,dir,start,links,end
0,Dir.UP,Point object name='Ds.657' id=sig_1,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Ds.663' id=sig_3
1,Dir.DOWN,Point object name='Ds.644' id=sig_15,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Hs.263' id=sig_17
2,Dir.UP,Point object name='Ds.659' id=sig_68,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Hs.269' id=sig_36
3,Dir.UP,Point object name='Ds.647' id=sig_38,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Ds.665' id=sig_40
4,Dir.DOWN,Point object name='Ds.624' id=sig_25,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Ds.670' id=sig_2
5,Dir.DOWN,Point object name='Tgv.slutt/Ds.630' id=sig_64,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Ds.646' id=sig_69
6,Dir.DOWN,Point object name='Ds.622' id=sig_11,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Tgv.slutt/Ds.628' id=sig_12
7,Dir.UP,Point object name='Hs.969' id=sig_72,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Ds.621' id=sig_10
8,Dir.DOWN,Point object name='Tgv.slutt/Ds.636' id=sig_51,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Ds.646' id=sig_69
9,Dir.DOWN,Point object name='Ds.670' id=sig_2,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Hs.265' id=sig_5
10,Dir.UP,Point object name='Hs.971' id=sig_21,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Ds.621' id=sig_10
11,Dir.DOWN,Point object name='Ds.950' id=sig_33,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Tgv.slutt/Ds.638' id=sig_44
12,Dir.DOWN,Point object name='Ds.614' id=sig_62,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Ds.616' id=sig_60
13,Dir.DOWN,Point object name='Ds.650' id=sig_66,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Ds.31' id=sig_32
14,Dir.UP,Point object name='Ds.653' id=sig_67,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Ds.659' id=sig_68
15,Dir.DOWN,Point object name='Ds.620' id=sig_8,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Ds.622' id=sig_11
16,Dir.UP,Point object name='Hs.Blokk2' id=sig_23,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Hs.Blokk3' id=sig_24
17,Dir.UP,Point object name='Ds.655' id=sig_13,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Ds.659' id=sig_68
18,Dir.DOWN,Point object name='Ds.950' id=sig_33,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Tgv.slutt/Ds.640' id=sig_35
19,Dir.UP,Point object name='Ds.659' id=sig_68,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Hs.271' id=sig_45
20,Dir.DOWN,Point object name='Ds.634' id=sig_53,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Ds.644' id=sig_15
21,Dir.UP,Point object name='Ds.643' id=sig_48,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Ds.665' id=sig_40
22,Dir.DOWN,Point object name='Tgv.slutt/Ds.636' id=sig_51,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Ds.644' id=sig_15
23,Dir.DOWN,Point object name='Ds.952' id=sig_59,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Ds.622' id=sig_11
24,Dir.UP,Point object name='Ds.693' id=sig_57,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Hs.Blokk1' id=sig_22
25,Dir.DOWN,Point object name='Tgv.slutt/Ds.630' id=sig_64,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Ds.644' id=sig_15
26,Dir.UP,Point object name='Ds.669' id=sig_65,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Hs.969' id=sig_72
27,Dir.UP,Point object name='Hs.220' id=sig_6,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Ds.657' id=sig_1
28,Dir.UP,Point object name='Ds.657' id=sig_1,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Ds.661' id=sig_14
29,Dir.DOWN,Point object name='Ds.622' id=sig_11,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Tgv.slutt/Ds.630' id=sig_64
...,...,...,...,...
32,Dir.UP,Point object name='Ds.665' id=sig_40,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Hs.269' id=sig_36
33,Dir.UP,Point object name='Ds.669' id=sig_65,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Hs.275' id=sig_52
34,Dir.UP,Point object name='Ds.659' id=sig_68,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Ds.669' id=sig_65
35,Dir.UP,Point object name='Ds.665' id=sig_40,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Hs.271' id=sig_45
36,Dir.DOWN,Point object name='Ds.634' id=sig_53,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Ds.646' id=sig_69
37,Dir.UP,Point object name='Hs.Blokk3' id=sig_24,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Ds.695' id=sig_9
38,Dir.DOWN,Point object name='Ds.648' id=sig_39,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Ds.705' id=sig_43
39,Dir.UP,Point object name='Ds.621' id=sig_10,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Hs.Blokk1' id=sig_22
40,Dir.UP,Point object name='Ds.649' id=sig_31,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Ds.653' id=sig_67
41,Dir.UP,Point object name='Ds.667' id=sig_37,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Ds.647' id=sig_38
42,Dir.DOWN,Point object name='Ds.616' id=sig_60,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Ds.622' id=sig_11
43,Dir.DOWN,Point object name='Ds.632' id=sig_54,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Ds.646' id=sig_69
44,Dir.UP,Point object name='Hs.222' id=sig_18,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Ds.655' id=sig_13
45,Dir.UP,Point object name='Ds.661' id=sig_14,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Hs.971' id=sig_21
46,Dir.UP,Point object name='Ds.655' id=sig_13,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Ds.661' id=sig_14
47,Dir.UP,Point object name='Hs.Blokk1' id=sig_22,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Hs.Blokk2' id=sig_23
48,Dir.DOWN,Point object name='Ds.626' id=sig_0,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Ds.670' id=sig_2
49,Dir.UP,Point object name='Ds.661' id=sig_14,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Ds.669' id=sig_65
50,Dir.DOWN,Point object name='Ds.626' id=sig_0,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Ds.644' id=sig_15
51,Dir.DOWN,Point object name='Tgv.slutt/Ds.640' id=sig_35,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Ds.648' id=sig_39
52,Dir.UP,Point object name='Ds.645' id=sig_46,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Ds.665' id=sig_40
53,Dir.DOWN,Point object name='Ds.644' id=sig_15,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Hs.265' id=sig_5
54,Dir.DOWN,Point object name='Ds.624' id=sig_25,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Ds.644' id=sig_15
55,Dir.DOWN,Point object name='Tgv.slutt/Ds.638' id=sig_44,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Ds.646' id=sig_69
56,Dir.DOWN,Point object name='Tgv.slutt/Ds.640' id=sig_35,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Ds.646' id=sig_69
57,Dir.DOWN,Point object name='Ds.646' id=sig_69,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Hs.263' id=sig_17
58,Dir.DOWN,Point object name='Ds.950' id=sig_33,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Tgv.slutt/Ds.636' id=sig_51
59,Dir.DOWN,Point object name='Tgv.slutt/Ds.638' id=sig_44,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Ds.648' id=sig_39
60,Dir.DOWN,Point object name='Tgv.slutt/Ds.628' id=sig_12,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Ds.644' id=sig_15
61,Dir.UP,Point object name='Ds.695' id=sig_9,"(((<rc.Model object at 0x0000025949D2C518>, tr...",Point object name='Ds.615' id=sig_61

### Sporavsnitt som må være fritt
Alle sporavsnitt som overlapper togveien må være fri før togveien kan stilles.

In [8]:
for togvei in togveier:
    togvei.avsnitt = sections.filter(lambda section: section & togvei.to_area() > IntervalSet([]))
    print("Avsnitt: {}".format(togvei.avsnitt))

Avsnitt: Set of 8 areas.
Avsnitt: Set of 8 areas.
Avsnitt: Set of 7 areas.
Avsnitt: Set of 6 areas.
Avsnitt: Set of 9 areas.
Avsnitt: Set of 8 areas.
Avsnitt: Set of 8 areas.
Avsnitt: Set of 8 areas.
Avsnitt: Set of 9 areas.
Avsnitt: Set of 8 areas.
Avsnitt: Set of 3 areas.
Avsnitt: Set of 3 areas.
Avsnitt: Set of 1 areas.
Avsnitt: Set of 1 areas.

### Fiendtlige togveier
Togveier vises i forriglingstabell som fiendtlige dersom:
 * Begge krever sporavsnitt fritt
 * Begge krever sporveksel i samme stilling (sporveksel i motsatt stilling er allerede utelukket pga. dette)
 * Approach

In [ ]:
for togvei in togveier: togvei.fiendtlige = set()
    
for tva in togveier:
    tva.fiendtlige |= set(tvb for tvb in togveier if tva.avsnitt & tvb.avsnitt)
#    print("{} ### {}".format(tva,len(tva.fiendtlige)))

In [ ]:
for tva in togveier:
    tva.fiendtlige |= set(tvs for tvb in togveier
                          if set(tva.switchstates()) & \
                             set(tvb.switchstates()))

### Signalbilde

#### Hovedsignal og forsignal
Togveier viser signalbilde Hs22 og tilhørende forsignal Fs25
dersom alle sporveksler i togveien ligger i ikke-avvikende stilling.
Dersom en eller flere sporveksler i togveien ligger i avvikende stilling,
vises signalbilde Hs21 og tilhørende forsignal Fs24.

#### Ds. i togveien som viser Ss45
Alle medrettede dvergsignaler i togveien skal vise Ss45.

#### Annet
TODO: sjekk om signalet har et forsignal

In [13]:
for togvei in togveier:
    avvik = any(sw.straight() != st for (sw,st) in togvei.switchstates())
    togvei.hs_bilde = "Hs21" if avvik else "Hs22"
    togvei.fs_bilde = "Fs24" if avvik else "Fs25"
    
    togvei.ds_ss45 = ds.filter(location=togvei.to_area(), dir=togvei.dir)

### Sikkerhetssone
For hvert sluttpunkt for togvei kan det finnes én eller flere sikkerhetssoner.
 * Krav om sporveksel/sporsperre/S-lås og sporavsnitt.
 * Fientlige sluttpunkt for togvei og skiftevei samt fiendtlig togvei og skiftevei i sikkerhetssonen.
 * Utløsning på sporavsnitt belagt og utløsningstid.
 * Kommentarer (f.eks. ATC kryssingsbarriere?)

In [20]:
sluttpunkter_togvei = PointObjectSet(togvei.end for togvei in togveier)
sluttpunkter_togvei

### Lokalområde og arbeidsområde
Togveier skriver hvilke lokal- og arbeidsområder de overlapper med.

In [16]:
arbeidsområder = AreaSet([])
for togvei in togveier:
    togvei.arbeidsområder = [a for a in arbeidsområder if a & togvei.to_area()]