In [1]:
from rc import *

In [2]:
def medrettet(set): return (lambda s: set.filter(lambda x: x.dir() == s.dir()))
def motrettet(set): return (lambda s: set.filter(lambda x: x.dir() == s.dir().opposite()))

In [3]:
m = Model(filename="UOS-10-S-82801-RC3.railml")

In [4]:
hs = m.objects.filter(type="signal")\
      .filter(lambda x: x.type == "combined" or x.type == "main")

ds = m.objects.filter(type="signal")\
      .filter(lambda x: x.type == "shunting" or x.type == "combined")

In [5]:
togveier = hs.find_forward(medrettet(hs))
tbl(togveier)

,0,1,2
0,Point object name='Hs.Blokk1' id=sig_22,[],Point object name='Hs.Blokk2' id=sig_23
1,Point object name='Hs.Blokk2' id=sig_23,[],Point object name='Hs.Blokk3' id=sig_24
2,Point object name='Hs.969' id=sig_72,"[(sw_6, Side.RIGHT), (sw_9, Side.RIGHT), (sw_8...",Point object name='Hs.Blokk1' id=sig_22
3,Point object name='Hs.222' id=sig_18,"[(sw_4, Side.LEFT), (sw_27, Side.LEFT), (sw_29...",Point object name='Hs.271' id=sig_45
4,Point object name='Hs.222' id=sig_18,"[(sw_4, Side.LEFT), (sw_27, Side.LEFT), (sw_29...",Point object name='Hs.269' id=sig_36
5,Point object name='Hs.222' id=sig_18,"[(sw_4, Side.LEFT), (sw_27, Side.LEFT), (sw_29...",Point object name='Hs.275' id=sig_52
6,Point object name='Hs.222' id=sig_18,"[(sw_4, Side.LEFT), (sw_27, Side.LEFT), (sw_29...",Point object name='Hs.969' id=sig_72
7,Point object name='Hs.222' id=sig_18,"[(sw_4, Side.RIGHT), (sw_3, Side.RIGHT), (sw_5...",Point object name='Hs.275' id=sig_52
8,Point object name='Hs.222' id=sig_18,"[(sw_4, Side.RIGHT), (sw_3, Side.RIGHT), (sw_5...",Point object name='Hs.969' id=sig_72
9,Point object name='Hs.222' id=sig_18,"[(sw_4, Side.RIGHT), (sw_3, Side.RIGHT), (sw_5...",Point object name='Hs.971' id=sig_21
10,Point object name='Hs.220' id=sig_6,"[(sw_1, Side.LEFT), (sw_3, Side.LEFT), (sw_5, ...",Point object name='Hs.275' id=sig_52
11,Point object name='Hs.220' id=sig_6,"[(sw_1, Side.LEFT), (sw_3, Side.LEFT), (sw_5, ...",Point object name='Hs.969' id=sig_72
12,Point object name='Hs.220' id=sig_6,"[(sw_1, Side.LEFT), (sw_3, Side.LEFT), (sw_5, ...",Point object name='Hs.971' id=sig_21
13,Point object name='Hs.971' id=sig_21,"[(sw_6, Side.LEFT), (sw_9, Side.RIGHT), (sw_8,...",Point object name='Hs.Blokk1' id=sig_22

In [10]:
skifteveier = ds.find_forward(medrettet(ds))
tbl(skifteveier)

,0,1,2
0,Point object name='Ds.647' id=sig_38,"[(sw_17, Side.LEFT)]",Point object name='Ds.665' id=sig_40
1,Point object name='Ds.655' id=sig_13,"[(sw_4, Side.LEFT), (sw_27, Side.LEFT)]",Point object name='Ds.659' id=sig_68
2,Point object name='Ds.655' id=sig_13,"[(sw_4, Side.RIGHT), (sw_3, Side.RIGHT)]",Point object name='Ds.661' id=sig_14
3,Point object name='Ds.632' id=sig_54,"[(sw_24, Side.RIGHT), (sw_23, Side.RIGHT), (sw...",Point object name='Ds.644' id=sig_15
4,Point object name='Ds.632' id=sig_54,"[(sw_24, Side.RIGHT), (sw_23, Side.RIGHT), (sw...",Point object name='Ds.646' id=sig_69
5,Point object name='Ds.649' id=sig_31,"[(sw_28, Side.RIGHT)]",Point object name='Ds.653' id=sig_67
6,Point object name='Ds.614' id=sig_62,"[(sw_26, Side.RIGHT)]",Point object name='Ds.616' id=sig_60
7,Point object name='Ds.624' id=sig_25,"[(sw_0, Side.RIGHT), (sw_2, Side.RIGHT), (sw_5...",Point object name='Ds.644' id=sig_15
8,Point object name='Ds.624' id=sig_25,"[(sw_0, Side.RIGHT), (sw_2, Side.LEFT)]",Point object name='Ds.670' id=sig_2
9,Point object name='Ds.648' id=sig_39,"[(sw_17, Side.LEFT)]",Point object name='Ds.705' id=sig_43
10,Point object name='Ds.665' id=sig_40,"[(sw_18, Side.LEFT), (sw_15, Side.RIGHT)]",Point object name='Hs.269' id=sig_36
11,Point object name='Ds.665' id=sig_40,"[(sw_18, Side.RIGHT), (sw_19, Side.RIGHT)]",Point object name='Hs.271' id=sig_45
12,Point object name='Ds.661' id=sig_14,"[(sw_5, Side.LEFT), (sw_7, Side.LEFT), (sw_30,...",Point object name='Ds.669' id=sig_65
13,Point object name='Ds.661' id=sig_14,"[(sw_5, Side.LEFT), (sw_7, Side.RIGHT)]",Point object name='Hs.971' id=sig_21
14,Point object name='Tgv.slutt/Ds.636' id=sig_51,"[(sw_23, Side.LEFT), (sw_31, Side.LEFT), (sw_3...",Point object name='Ds.644' id=sig_15
15,Point object name='Tgv.slutt/Ds.636' id=sig_51,"[(sw_23, Side.LEFT), (sw_31, Side.LEFT), (sw_3...",Point object name='Ds.646' id=sig_69
16,Point object name='Ds.644' id=sig_15,"[(sw_3, Side.LEFT), (sw_1, Side.LEFT)]",Point object name='Hs.265' id=sig_5
17,Point object name='Ds.644' id=sig_15,"[(sw_4, Side.RIGHT), (sw_3, Side.RIGHT)]",Point object name='Hs.263' id=sig_17
18,Point object name='Ds.693' id=sig_57,"[(sw_8, Side.RIGHT)]",Point object name='Hs.Blokk1' id=sig_22
19,Point object name='Ds.650' id=sig_66,"[(sw_28, Side.RIGHT)]",Point object name='Ds.31' id=sig_32
20,Point object name='Ds.653' id=sig_67,"[(sw_27, Side.RIGHT)]",Point object name='Ds.659' id=sig_68
21,Point object name='Tgv.slutt/Ds.638' id=sig_44,"[(sw_19, Side.LEFT), (sw_16, Side.RIGHT), (sw_...",Point object name='Ds.646' id=sig_69
22,Point object name='Tgv.slutt/Ds.638' id=sig_44,"[(sw_18, Side.RIGHT), (sw_19, Side.RIGHT)]",Point object name='Ds.648' id=sig_39
23,Point object name='Hs.220' id=sig_6,[],Point object name='Ds.657' id=sig_1
24,Point object name='Tgv.slutt/Ds.628' id=sig_12,"[(sw_7, Side.RIGHT), (sw_5, Side.LEFT)]",Point object name='Ds.644' id=sig_15
25,Point object name='Ds.657' id=sig_1,"[(sw_1, Side.LEFT), (sw_3, Side.LEFT)]",Point object name='Ds.661' id=sig_14
26,Point object name='Ds.657' id=sig_1,"[(sw_1, Side.RIGHT)]",Point object name='Ds.663' id=sig_3
27,Point object name='Tgv.slutt/Ds.640' id=sig_35,"[(sw_15, Side.RIGHT), (sw_18, Side.LEFT)]",Point object name='Ds.648' id=sig_39
28,Point object name='Tgv.slutt/Ds.640' id=sig_35,"[(sw_16, Side.LEFT), (sw_15, Side.LEFT), (sw_2...",Point object name='Ds.646' id=sig_69
29,Point object name='Ds.659' id=sig_68,"[(sw_29, Side.LEFT), (sw_16, Side.RIGHT), (sw_...",Point object name='Hs.271' id=sig_45
...,...,...,...
32,Point object name='Ds.646' id=sig_69,"[(sw_27, Side.LEFT), (sw_4, Side.LEFT)]",Point object name='Hs.263' id=sig_17
33,Point object name='Ds.646' id=sig_69,"[(sw_27, Side.RIGHT)]",Point object name='Ds.650' id=sig_66
34,Point object name='Hs.971' id=sig_21,"[(sw_6, Side.LEFT)]",Point object name='Ds.621' id=sig_10
35,Point object name='Ds.952' id=sig_59,"[(sw_9, Side.LEFT)]",Point object name='Ds.622' id=sig_11
36,Point object name='Ds.670' id=sig_2,"[(sw_1, Side.RIGHT)]",Point object name='Hs.265' id=sig_5
37,Point object name='Ds.621' id=sig_10,"[(sw_9, Side.RIGHT), (sw_8, Side.LEFT)]",Point object name='Hs.Blokk1' id=sig_22
38,Point object name='Ds.622' id=sig_11,"[(sw_6, Side.RIGHT)]",Point object name='Tgv.slutt/Ds.630' id=sig_64
39,Point object name='Ds.622' id=sig_11,"[(sw_6, Side.LEFT)]",Point object name='Tgv.slutt/Ds.628' id=sig_12
40,Point object name='Ds.669' id=sig_65,"[(sw_31, Side.LEFT), (sw_23, Side.LEFT)]",Point object name='Hs.275' id=sig_52
41,Point object name='Ds.669' id=sig_65,"[(sw_31, Side.RIGHT)]",Point object name='Hs.969' id=sig_72
42,Point object name='Ds.645' id=sig_46,"[(sw_20, Side.LEFT), (sw_17, Side.RIGHT)]",Point object name='Ds.665' id=sig_40
43,Point object name='Ds.950' id=sig_33,"[(sw_14, Side.LEFT), (sw_22, Side.RIGHT)]",Point object name='Tgv.slutt/Ds.636' id=sig_51
44,Point object name='Ds.950' id=sig_33,"[(sw_13, Side.RIGHT), (sw_14, Side.RIGHT), (sw...",Point object name='Tgv.slutt/Ds.638' id=sig_44
45,Point object name='Ds.950' id=sig_33,"[(sw_13, Side.RIGHT), (sw_14, Side.RIGHT), (sw...",Point object name='Tgv.slutt/Ds.640' id=sig_35
46,Point object name='Tgv.slutt/Ds.630' id=sig_64,"[(sw_31, Side.RIGHT), (sw_30, Side.LEFT), (sw_...",Point object name='Ds.644' id=sig_15
47,Point object name='Tgv.slutt/Ds.630' id=sig_64,"[(sw_31, Side.RIGHT), (sw_30, Side.RIGHT), (sw...",Point object name='Ds.646' id=sig_69
48,Point object name='Ds.626' id=sig_0,"[(sw_0, Side.LEFT), (sw_2, Side.RIGHT), (sw_5,...",Point object name='Ds.644' id=sig_15
49,Point object name='Ds.626' id=sig_0,"[(sw_0, Side.LEFT), (sw_2, Side.LEFT)]",Point object name='Ds.670' id=sig_2
50,Point object name='Hs.Blokk1' id=sig_22,[],Point object name='Hs.Blokk2' id=sig_23
51,Point object name='Hs.969' id=sig_72,"[(sw_6, Side.RIGHT)]",Point object name='Ds.621' id=sig_10
52,Point object name='Hs.Blokk2' id=sig_23,[],Point object name='Hs.Blokk3' id=sig_24
53,Point object name='Ds.616' id=sig_60,"[(sw_25, Side.RIGHT), (sw_10, Side.RIGHT), (sw...",Point object name='Ds.622' id=sig_11
54,Point object name='Hs.Blokk3' id=sig_24,[],Point object name='Ds.695' id=sig_9
55,Point object name='Ds.695' id=sig_9,"[(sw_10, Side.RIGHT), (sw_25, Side.RIGHT)]",Point object name='Ds.615' id=sig_61
56,Point object name='Hs.222' id=sig_18,[],Point object name='Ds.655' id=sig_13
57,Point object name='Ds.643' id=sig_48,"[(sw_20, Side.RIGHT), (sw_17, Side.RIGHT)]",Point object name='Ds.665' id=sig_40
58,Point object name='Ds.634' id=sig_53,"[(sw_24, Side.LEFT), (sw_23, Side.RIGHT), (sw_...",Point object name='Ds.644' id=sig_15
59,Point object name='Ds.634' id=sig_53,"[(sw_24, Side.LEFT), (sw_23, Side.RIGHT), (sw_...",Point object name='Ds.646' id=sig_69
60,Point object name='Ds.620' id=sig_8,"[(sw_10, Side.LEFT), (sw_8, Side.LEFT), (sw_9,...",Point object name='Ds.622' id=sig_11
61,Point object name='Ds.667' id=sig_37,[],Point object name='Ds.647' id=sig_38

In [13]:
dtv1 = list(skifteveier)[1]
dtv1[0].up_links[0][0].up_links[0][0].up_links[0][0].up_links

[(<rc.PointObject at 0x1e047746160>,
  21.0,
  [('sw_4', <Side.RIGHT: 2>), ('sw_3', <Side.RIGHT: 2>)]),
 (<rc.PointObject at 0x1e047746cf8>, 0.0, [('sw_4', <Side.LEFT: 1>)])]